[submodule "roles/jdauphant.dropbox"]
	path = roles/jdauphant.dropbox
	url = https://github.com/jdauphant/ansible-role-dropbox.git
[submodule "roles/wm"]
	path = roles/wm
	url = https://github.com/rohanpm/ansible-roles-wm.git
[submodule "roles/base-packages"]
	path = roles/base-packages
	url = https://github.com/rohanpm/ansible-roles-base-packages.git
[submodule "roles/dev"]
	path = roles/dev
	url = https://github.com/rohanpm/ansible-roles-dev.git
[submodule "roles/dropbox-daemon"]
	path = roles/dropbox-daemon
	url = https://github.com/rohanpm/ansible-roles-dropbox-daemon.git
[submodule "roles/user"]
	path = roles/user
	url = https://github.com/rohanpm/ansible-roles-user.git
[submodule "roles/gantsign.visual-studio-code"]
	path = roles/gantsign.visual-studio-code
	url = https://github.com/gantsign/ansible-role-visual-studio-code.git
[submodule "roles/mail"]
	path = roles/mail
	url = https://github.com/rohanpm/ansible-roles-mail.git
[submodule "roles/rclone-gdrive"]
	path = roles/rclone-gdrive
	url = https://github.com/rohanpm/ansible-roles-rclone-gdrive.git
[submodule "library/emacs"]
	path = library/emacs
	url = https://github.com/rohanpm/ansible-modules-emacs.git
[submodule "roles/laptop"]
	path = roles/laptop
	url = https://github.com/rohanpm/ansible-roles-laptop.git
